@media only screen and (min-width: 1024px) {
  body {
    background-image: none;
  }

  h3 {
    padding: 4em 0 0;
  }

  .wrap {
    width: 100%;
    display: grid;
    place-items: center;
    padding: 2em;
  }

  .steps__next {
    position: static;
    z-index: 1;
    bottom: 0;
  }

  .app {
    position: static;
    width: 72%;
    display: grid;
    grid-template-columns: 33% 1fr;
    background-color: $white;
    padding: 1em;
    border-radius: 20px;
  }

  .steps__sidebar {
    padding-left: 0em;
    background-image: url(../images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 17em;

    .steps__list {
      flex-direction: column;
      gap: 1em;
      padding-left: 3em;
      .step__option {
        position: relative;

        a {
          padding: 1em;
          display: block;
          width: 200px;

          &::before {
            position: absolute;
          }

          p {
            padding-left: 4em;
          }

          span {
            display: block;
            padding-block: 0.125em;
          }
        }
      }
    }
  }

  .steps__cards {
    position: relative;
  }

  #card2 {
    .steps__payment-options {
      .steps__period {
        width: 100%;
        background-color: #fff;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .steps__payment-option::before {
          float: none;
        }
      }
    }
  }

  footer {
    position: static;
  }
}
